<h1>reading</h1>

<table id="schultzTable">
  <tr id="row">
    <div class="l">
      <td id="l6"  ng-click="contains(this.id)" >0</td>
      <td id="l5"  ng-click="contains(this.id)" >0</td>
      <td id="l4"  ng-click="contains(this.id)" >0</td>
      <td id="l3"  ng-click="contains(this.id)" >0</td>
      <td id="l2"  ng-click="contains(this.id)" >0</td>
      <td id="l1"  ng-click="contains(this.id)" >0</td>
    </div>
      <td>
        <svg height="100" width="200">
           <circle cx="100" cy="54" r="10" fill="red"/>
        </svg>
      </td>
    <div class="r">
      <td id="r1"  ng-click="contains(this.id)" >0</td>
      <td id="r2"  ng-click="contains(this.id)" >0</td>
      <td id="r3"  ng-click="contains(this.id)" >0</td>
      <td id="r4"  ng-click="contains(this.id)" >0</td>
      <td id="r5"  ng-click="contains(this.id)" >0</td>
      <td id="r6"  ng-click="contains(this.id)" >0</td>
    </div>
  </tr>
</table>